// .temp {
//   background-image: url('/src/components/layout/map3.jpg');
// }

// .color1 {color: #060606;}
// .color2 {color: #191b1e;}
// .color3 {color: #31333d;}
// .color4 {color: #4f515f;}
// .color5 {color: #6d6e86;}
